.add-button {
    color: #fff !important;
    height: 40px !important;
    width: 40px !important;
    margin: 0 6px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #3c4043 !important;
    border-radius: 100px !important;
    border: unset !important;
    cursor: pointer !important;
}

.mute-button {
    font-weight: 500 !important;
    font-size: 18px !important;
    width: unset !important;
}

.mute-button:hover {
    border: unset !important;
}

.muted {
    background-color: #ea4335 !important;
}

.volume-button {
    font-size: 24px !important;
    transition: 0.5s;
}

.volume-button:hover {
    opacity: 0.75 !important;
}

.volume-button:active {
    transform: translateY(2px) !important;
    opacity: 0.5;
}
