.add-button {
    color: #fff !important;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #3c4043 !important;
    border-radius: 100px !important;
    border: unset !important;
    cursor: pointer !important;
}

.mute-button {
    font-weight: 500 !important;
    font-size: 18px !important;
    width: 100px !important;
}

.mute-button:hover {
    border: unset !important;
    background-color: #44474a !important;
}

.muted {
    background-color: #ea4335 !important;
}

.muted:hover {
    background-color: #ea5044 !important;
}

.volume-button {
    font-size: 24px !important;
    transition: 0.2s;
}

.volume-button:hover {
    background-color: #44474a !important;
}

.volume-button:active {
    transform: translateY(1px) !important;
    background-color: #44474a !important;
}
